/* *{
    margin: 0;
    padding: 0;
}  sirve para cambiar toda mi pagina (selector general)*/

body {
    background: repeating-linear-gradient(rgb(241, 231, 240), rgb(179, 86, 187), rgb(71, 71, 245), rgb(247, 134, 232));
    background-attachment: fixed;
    margin: 0;
    
}

.flower {
    position: absolute;
    top: -50px;
    width: 40px;
    height: 40px;
    background-image: url('imagenes/Violet-PNG-Image.png');
    background-size: 100%;
    animation: fall linear infinite;
}

@keyframes fall {
    from{
        transform: translateX(1vh);
    }
    to {
        transform: translateY(6000vh); /*vista del alto*/
    }
}


html {
    cursor: url("imagenes/cursorp_resized.png"), grabbing;
}

a {
    cursor: url("imagenes/cursorp_resized.png"), grabbing;

}

h1 {
    color: rgb(238, 238, 243);
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#descripción {
    text-align: center;
    color: aliceblue;
}

header {
    background-image: url(/imagenes/violetas.jpeg)
}

.corazon {
    animation: latido 2s infinite;
    background-color: rgb(199, 55, 218);
    display: inline-block;
    height: 50px;
    margin: 0 10px;
    top: 0;
    transform: rotate(-45deg);
    position: fixed;
    left: 90%;
    top: 85%;
    width: 50px;
}

.corazon:before,
.corazon:after {
    content: "";
    background-color: rgb(199, 55, 218);
    border-radius: 50%;
    height: 50px;
    position: absolute;
    width: 50px;
}

.corazon:before {
    top: -25px;
    left: 0;
}

.corazon:after {
    left: 25px;
    top: 0;
    content: "inicio";
    color: black;
}

@keyframes latido {
    0% {
        transform: scale(1) rotate(-45deg);
    }

    20% {
        transform: scale(1.25) rotate(-45deg);
    }

    40% {
        transform: scale(1.5) rotate(-45deg);
    }
}

nav {

    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    background: linear-gradient(-45deg, rgb(71, 71, 245), rgb(226, 86, 215), rgb(134, 160, 247));
    /* position: fixed;
    width: 100vw;   sirve para figar mi menu principal */

}

nav a {
    text-decoration: none;
}

nav ul {
    text-align: center;
    display: flex;
    list-style: none;
}

nav ul li {
    margin: auto;
    text-transform: uppercase;
    background-color: rgb(176, 148, 241);
    padding: 10px;
    border-radius: 10%;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}

nav ul li:hover {
    background: linear-gradient(45deg, rgb(28, 190, 141), rgb(75, 86, 233), rgb(110, 110, 209))
}

.submenu {
    display: none;
    position: absolute;
    color: black;
}

.submenu a {
    text-decoration: none;
}

.submenu li:hover {
    background: linear-gradient(-53deg, rgb(71, 71, 245), rgb(131, 106, 241), rgb(238, 134, 247));
    color: black;
}

nav ul li:hover ul {
    display: block;
}


h2 {
    color: blue;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h3 {
    color: blueviolet;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.slider-container {
    display: flex;
    width: 80%;
    height: 70vh;
    overflow-x: scroll;
    /* ayuda a qye el scroll horizontal del contenedor  no se quede en medio de dos imagenes*/
    scroll-snap-type: x mandatory;
    margin: auto;
    background: linear-gradient(45deg, rgb(28, 190, 141), rgb(75, 86, 233), rgb(110, 110, 209));
    padding: 40 50 40 50;


}

.slider-container img {
    flex: 80%;
    object-fit: cover;
    /* imagenes siempre centradas */
    scroll-snap-align: center;
    padding: 20px;
    background: linear-gradient(-53deg, rgb(71, 71, 245), rgb(131, 106, 241), rgb(238, 134, 247));
    width: 80%;
    height: 80%;
    margin: auto
}

.poemasg {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    justify-content: space-around;

}

.poemas {
    margin: 10px;
    padding: 5px;
    border-radius: 5%;

    text-align: justify;
    background-color: rgb(121, 144, 247);
    justify-content: space-between
}

.poemas:hover {
    background: linear-gradient(30deg, rgb(141, 198, 236), rgb(235, 120, 235), rgb(148, 148, 228))
}

h5 {
    text-align: center;
}

#menupoemas {
    text-align: center;
    display: flex;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    background: linear-gradient(-45deg, rgb(71, 71, 245), rgb(226, 86, 215), rgb(134, 160, 247));
    justify-content: space-between;
    border-radius: 50px;
}

#menupoemas a {
    background: linear-gradient(30deg, rgb(141, 198, 236), rgb(235, 120, 235), rgb(148, 148, 228));
    padding: 8px;
    margin: 3;
    border-radius: 10%;
    text-decoration: none;
    color: black;
}

#menupoemas a:hover {
    background: linear-gradient(45deg, rgb(28, 190, 141), rgb(75, 86, 233), rgb(110, 110, 209));
}


.heart {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: red;
    transform: rotate(-45deg);
    justify-content: flex-end;

}