h1{
    color: blue;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
#descripción{
    text-align: center;
    
}
nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

#contenedor{
   display: flex;
}
.elemento{
    height: 100px;
width: 100px;
}
#e1{
background-color: blue;
margin: auto;

}
#e2{
background-color: blueviolet;
margin: auto;
}
#e3{
background-color: brown;
margin: auto;
}
